:root {
  --colorMain: rgb(98, 106, 148);
  --colorSec: rgb(11, 17, 177);
  --colorThi: rgb(158, 119, 180);
  --colorFour: rgb(90, 109, 124);
  --colorFive: rgb(228, 224, 205);
  --colorSix: rgb(56, 147, 223);
}

/* homepage-------------------------------------------------------------------------- */
.homeNav {
  background-image: linear-gradient(to left, var(--colorMain), var(--colorSec));
  color: var(--colorFive);
  margin-bottom: 4%;
  border-bottom: 3px solid var(--colorThi);
}

.nav-link,
.navbar-brand {
  color: var(--colorFive);
}

.nav-link:hover,
.navbar-brand:hover {
  color: white;
}

.homebanner {
  font-size: xx-large;
  font-weight: bold;
  color: var(--colorFive);
  height: fit-content;
  width: fit-content;
  margin: auto;
  margin-bottom: 1%;
  padding: 1.5%;
  display: flex;
  background-image: linear-gradient(
    to bottom,
    var(--colorSec),
    var(--colorFour)
  );
  align-content: center;
  justify-content: center;
  border: solid gold;
  border-radius: 30px;
  box-shadow: 0 0px 20px 8px var(--colorSec);
  text-align: center;
}

body {
  background-color: var(--colorSix);
  /* background: url("./pages/images/atSiteBg1.jpeg") no-repeat;
  background-size: cover; */
}

img {
  width: 25rem;
  height: 20rem;
}

.smalls {
  width: 3rem;
  height: 3rem;
}

.afropic {
  width: 27rem;
  height: 65rem;
}

/* custom link color for pizazz */
.linkcolor {
  color: rgba(58, 11, 105, 0.952);
}

.linkcolor1 {
  color: rgba(4, 3, 5, 0.952);
}

/* AboutMe-------------------------------------------------------------------------- */

/* EducatorResources-------------------------------------------------------------------------- */

/* ParentResources-------------------------------------------------------------------------- */

/* FAQ-------------------------------------------------------------------------- */

/*

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
